/* sec_01 */
.main_visual {
    position: relative;
}

.main_visual .main_bg {
    background: url(../images/main.jpg) no-repeat center center/cover;
    height: 100vh;
}

.main_visual .bottom_link {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    background: rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 150px;
    width: calc((100% - 1200px) / 2 + 1185px);

    color: #fff;
}

/* sec_02 */
.main_event {
    padding: 100px 0;
}

.main_event .inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main_event .inner .content {
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 50px;
}

.main_event .inner .content h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

/* sec_03 */
.main_content {
    padding: 100px 0;
    background: #f9f9f9;
}

.main_content .tit,
.main_content .inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main_content .tit {
    margin: 0 auto 30px auto;
}

.main_content .tit h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.main_content .content {
    display: flex;
    gap: 30px
}

.main_content .content .box {
    margin: 0 0 15px 0;
    overflow: hidden;
}


.main_content .content>* {
    flex: 1;
}

.main_content .content figure img {
    transition: 0.5s;
}

.main_content .content figure:hover img {
    transform: scale(1.2);
}